.table-focus {
    border: 2px solid black;
    background-color: #FFFF99;
}

.pending-change {
    background-color: #FF9999;
}

table.table-town {
    width: 100%;
    max-width: 100%;

    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
}

table.table-town td, table.table-town th {
    border: 1px solid lightgray;
    border-spacing: 0;
    border-collapse: collapse;
    height: 20px;
}

table.table-town th {
    /* I don't fully understand, but this appears to not actually set the width, but it does avoid the resizing problem when the input box moves */
    width: 200px;
}

table.table-town td {
    vertical-align: top;
}

table.table-town .uncommitted {
    background-color: yellow;
}

table.table-town .committed {
    background-color: yellowgreen;
}

table.table-town .add-button {
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    color: transparent;
    float: right;
    border-spacing: 0px;
    border-width: 0px;
 }

table.table-town .add-button:hover {
    background-color: lightgray;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    color: white;
    float: right;
    cursor: pointer;
    /* border-left: gray solid 1px; */
    border-spacing: 0px;
    border-color: transparent;
}

ul.tt-autocomplete  {
    position: absolute;
    background-color: white;
    border: solid black 1px;
    padding: 1px;
}
.tt-autocomplete li {
        display: block;
}

.tt-autocomplete li:hover {
    background-color: lightgray;
        cursor: pointer;

}